<configuration>
  <configSections>
    <section name="Ceql" type="Ceql.Configuration.CeqlSection, Ceql"/>
  </configSections>
  <Ceql>
    <connections>
      <connection name="Dev"
                  connectionString="server=127.0.0.1;port=3306;database=ceql;user=ceql;password=123123"
                  driver="OleDbConnection.OleDbConnection"/>
    </connections>
  </Ceql>

</configuration>